@model Profile

@section Styles{
	<style>
		#profile-photo { text-align: center; }
			#profile-photo img { max-width: 100%; max-height: 240px; margin-bottom: 1em; }
		#profile-social > a { margin: .5em; }
	</style>
}

@if (Model == null)
{

	<div class="container">
		<div class="alert alert-danger">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<strong>Sorry, your profile was not found.</strong>
		</div>
	</div>
}

<section class="content theme">
	<div class="container">
		<h2 class="text-center">@Model.DisplayName</h2>
		<div class="row">
			<div id="profile-photo" class="col-md-4">
				@if (!string.IsNullOrWhiteSpace(Model.PhotoUrl))
				{
					<img src="@Model.PhotoUrl" alt="Photo" />
				}
				else
				{
					<div class="alert alert-info" style="font-size:42px;">
						<span class="glyphicon glyphicon-ban-circle"></span>
						No Photo
					</div>
				}
				<div id="profile-social">
					<a class="@(string.IsNullOrWhiteSpace(Model.WebsiteUrl) ? " hidden" : string.Empty)" 
					   href="@Model.WebsiteUrl" 
					   title="Website" 
					   target="_blank">
						<i class="fa fa-globe"></i>
					</a>
					<a class="@(string.IsNullOrWhiteSpace(Model.GitHubUrl) ? "hidden" : string.Empty)" 
					   href="@Model.GitHubUrl" 
					   title="GitHub" 
					   target="_blank">
						<i class="fa fa-github"></i>
					</a>
					<a class="@(string.IsNullOrWhiteSpace(Model.StackOverflowUrl) ? "hidden" : string.Empty)" 
					   href="@Model.StackOverflowUrl" 
					   title="Stack Overflow" 
					   target="_blank">
						<i class="fa fa-stack-overflow"></i>
					</a>
					<a class="@(string.IsNullOrWhiteSpace(Model.LinkedInUrl) ? "hidden" : string.Empty)" 
					   href="@Model.LinkedInUrl" 
					   title="Linked-In" 
					   target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
					<a class="@(string.IsNullOrWhiteSpace(Model.TwitterHandle) ? "hidden" : string.Empty)" 
					   href="@(Model.TwitterHandle.StartsWith("@") ? $"https://twitter.com/{Model.TwitterHandle}" : Model.TwitterHandle)" 
					   title="Twitter" 
					   target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
					<a class="@(string.IsNullOrWhiteSpace(Model.FacebookUrl) ? "hidden" : string.Empty)" 
					   href="@Model.FacebookUrl" 
					   title="Facebook" 
					   target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
				</div>
			</div>
			<div class="col-md-8">
				@Html.Raw(Model.Summary)
			</div>
		</div>
	</div>
</section>
