@model CompensationCalculatorViewModel

<div class="container">

	<div class="content theme">
		<h2>
			Compensation Calculator<br />
			<span class="label label-danger">Beta In-Progress</span>
		</h2>
		<p class="text-center">
			Ever wondered just how much your compensations is worth?
			<br />
			Need to do some math to compare disimilar employment offers?
		</p>
	</div>

	<div class="alert alert-warning">
		<h3>
			<span class="glyphicon glyphicon-warning-sign"></span>
			Attention
		</h3>
		<p>
			The calculations made by this tool are for information purposes only.
			While we hope this information will be helpful, we in no way guarantee its accuracy or applicability to any individual circumstance.
			By using this tool you agree not to hold Tampa Bay Coders, Indasys LLC,
			or any of our contributors liable for the results or any decisions made using this information.
		</p>
	</div>

	<div class="alert alert-info">
		<h3>
			<span class="glyphicon glyphicon-info-sign"></span>
			About the Calculator
		</h3>
		<p>
			This is an early version of the Compenstaion Calculator.
			This version makes a lot of assumptions that future versions will allow you to customize,
			such as benefits packages, tax profiles, etc.
		</p>
	</div>

	<div id="accordion" class="panel-group">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#salary-panel" data-toggle="collapse" data-parent="#accordion">Salary Calculator</a>
				</h4>
			</div>
			<div id="salary-panel" class="panel-collapse collapse in">
				<div class="panel-body">
					<form class="form-inline" asp-action="Compensation" method="post">
						<input type="hidden" asp-for="Calculation" value="Salary" />
						<div class="form-group">
							<label asp-for="Salary" class="sr-only"></label>
							<input asp-for="Salary" class="form-control" type="number" min="0" inputmode="numeric" step="1" placeholder="Annual Salary" />
							<button type="submit" class="btn btn-primary">Calculate</button>
							<span asp-validation-for="Salary"></span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#wage-panel" data-toggle="collapse" data-parent="#accordion">Hourly Wage Calculator</a>
				</h4>
			</div>
			<div id="wage-panel" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-inline" asp-action="Compensation" method="post">
						<input type="hidden" asp-for="Calculation" value="Wage" />
						<div class="form-group">
							<label asp-for="Wage" class="sr-only"></label>
							<input asp-for="Wage" class="form-control" type="number" min="0" inputmode="numeric" step="1" placeholder="Hourly Wage" />
							<button type="submit" class="btn btn-primary">Calculate</button>
							<span asp-validation-for="Wage"></span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#rate-panel" data-toggle="collapse" data-parent="#accordion">Contract Rate Calculator</a>
				</h4>
			</div>
			<div id="rate-panel" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-inline" asp-action="Compensation" method="post">
						<input type="hidden" asp-for="Calculation" value="Rate" />
						<div class="form-group">
							<label asp-for="Rate" class="sr-only"></label>
							<input asp-for="Rate" class="form-control" type="number" min="0" inputmode="numeric" step="1" placeholder="Contract Rate" />
							<button type="submit" class="btn btn-primary">Calculate</button>
							<span asp-validation-for="Rate"></span>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	@if(Model.Result != null)
	{
		<table class="table" style="table-layout: fixed;word-wrap: break-word;">
			<caption>Calculation Results</caption>
			<tr>
				<td>Compensation Scenario</td>
				<td>Typical Full Time <label asp-for="Calculation"></label> Job</td>
			</tr>
			<tr>
				<td>Result Check</td>
				<td>
					@if (Model.ResultCheck)
					{
						<span class="glyphicon glyphicon-ok-sign text-success"></span>
						<span class="sr-only">Success</span>
					}
					else
					{
						<span class="glyphicon glyphicon-remove-sign text-danger"></span>
						<span class="sr-only">Failed</span>
					}
				</td>
			</tr>
			<tr>
				<td><label asp-for="Calculation"></label></td>
				<td>
					<label asp-for="Salary" class="@(Model.Calculation == CompensationCalculatorViewModel.CalculationType.Salary ? "" : "hidden")"></label>
					<label asp-for="Wage" class="@(Model.Calculation == CompensationCalculatorViewModel.CalculationType.Wage ? "" : "hidden")"></label>
					<label asp-for="Rate" class="@(Model.Calculation == CompensationCalculatorViewModel.CalculationType.Rate ? "" : "hidden")"></label>
				</td>
			</tr>
			<tr>
				<td>Hours Worked</td>
				<td>@Model.Result.ActualHoursWorked.ToString("n0")</td>
			</tr>
			<tr>
				<td>Hours Off</td>
				<td>@Model.HoursOffPerYear.ToString("n0")</td>
			</tr>
			<tr>
				<td>Federal Tax Rate</td>
				<td>@Model.TaxProfile.TaxBracketRate.ToString("p2")</td>
			</tr>
			<tr>
				<td>Social Security Tax Rate</td>
				<td>@Model.TaxProfile.SocialSecurityRate.ToString("p2")</td>
			</tr>
			<tr>
				<td>Medicare Tax Rate</td>
				<td>@Model.TaxProfile.MedicareRate.ToString("p2")</td>
			</tr>
			<tr>
				<td>Taxes Paid By Employer</td>
				<td>@Model.Result.TaxesPaidByEmployer.ToString("c")</td>
			</tr>
			<tr>
				<td>Taxes Paid By Employee</td>
				<td>@Model.Result.TaxesPaidByEmployee.ToString("c")</td>
			</tr>
			<tr>
				<td>Total Taxes Paid</td>
				<td>@Model.Result.TotalTaxPaid.ToString("c")</td>
			</tr>
			<tr>
				<td>Cash Compensation</td>
				<td>@Model.Result.NetCompensation.ToString("c")</td>
			</tr>
			<tr>
				<td>Employer Retirement Contribution</td>
				<td>@Model.Result.RetirementContributionByEmployer.ToString("c")</td>
			</tr>
			<tr>
				<td>Total Retirement Contribution</td>
				<td>@Model.Result.TotalRetirementContribution.ToString("c")</td>
			</tr>
			<tr>
				<td>Health and Dental</td>
				<td>@Model.Result.HealthAndDentalPaidByEmployer.ToString("c")</td>
			</tr>
			<tr>
				<td>Total Benefits</td>
				<td>@Model.Result.TotalBenefitsPaidByEmployer.ToString("c")</td>
			</tr>
			<tr>
				<td>Total Compensation</td>
				<td>@Model.Result.TotalCompensation.ToString("c")</td>
			</tr>
			<tr>
				<td>Compensation per Hour</td>
				<td>@Model.Result.CompensationPerHour.ToString("c")</td>
			</tr>
			<tr class="@(Model.Calculation == CompensationCalculatorViewModel.CalculationType.Salary ? "" : "hidden")">
				<td>Equivalent Salary</td>
				<td>@Model.Result.EquivalentSalary.GetValueOrDefault().ToString("c")</td>
			</tr>
			<tr class="@(Model.Calculation == CompensationCalculatorViewModel.CalculationType.Wage ? "" : "hidden")">
				<td>Equivalent Hourly Wage</td>
				<td>@Model.Result.EquivalentWageRate.GetValueOrDefault().ToString("c")</td>
			</tr>
			<tr class="@(Model.Calculation == CompensationCalculatorViewModel.CalculationType.Rate ? "" : "hidden")">
				<td>Equivalent Contract Rate</td>
				<td>@Model.Result.EquivalentContractRate.GetValueOrDefault().ToString("c")</td>
			</tr>
		</table>
	}

</div>

@section Scripts{
	<script>
		$(function () {
			$('button').click(function (e) { $(this).append($('<i/>').addClass('fa fa-spinner fa-spin')); });
				});
	</script>
}